wheel
torch==1.9.0
torch-geometric
torch-scatter -f https://pytorch-geometric.com/whl/torch-1.9.0+cu102.html
torch-sparse -f https://pytorch-geometric.com/whl/torch-1.9.0+cu102.html
ipykernel==5.5.0
ipywidgets==7.6.3
tqdm==4.59.0
matplotlib
ipywidgets

-e .